<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Handheld_Control_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Handheld_Control_Panel.Properties.Settings>
   <setting name="systemAccent" serializeAs="String">
    <value>Teal</value>
   </setting>
   <setting name="language" serializeAs="String">
    <value>English</value>
   </setting>
   <setting name="IntelMMIOMSR" serializeAs="String">
    <value>MMIO</value>
   </setting>
   <setting name="minTDP" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="maxTDP" serializeAs="String">
    <value>35</value>
   </setting>
   <setting name="checkUpdatesAtStartUp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="maxGPUCLK" serializeAs="String">
    <value>1500</value>
   </setting>
   <setting name="combineTDP" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="autoStartRTSS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SystemTheme" serializeAs="String">
    <value>Dark</value>
   </setting>
   <setting name="autoApplySetTDP" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="dockWindowRight" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="cpuEfficiencyMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="lastCheckUpdate" serializeAs="String">
    <value />
   </setting>
   <setting name="directorySteam" serializeAs="String">
    <value />
   </setting>
   <setting name="directoryPlaynite" serializeAs="String">
    <value />
   </setting>
   <setting name="directoryEpicGames" serializeAs="String">
    <value />
   </setting>
   <setting name="maxRTSSFPSLimit" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="mouseModeHIDHide" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="GUID" serializeAs="String">
    <value />
   </setting>
   <setting name="instanceID" serializeAs="String">
    <value />
   </setting>
   <setting name="qamUserControls" serializeAs="String">
    <value>Usercontrol_Bluetooth1;Usercontrol_Wifi1;Usercontrol_MouseMode1;Usercontrol_Controller1;Divider1;Usercontrol_Volume1;Usercontrol_VolumeMute1;Usercontrol_Brightness1;Divider1;Usercontrol_Resolution1;Usercontrol_RefreshRate1;Usercontrol_Scaling1;Usercontrol_FPSLimit1;Divider1;Usercontrol_TDP1;Usercontrol_TDP21;Usercontrol_EPP1;Usercontrol_ActiveCores1;Usercontrol_MaxCPUFrequency1;Usercontrol_GPUCLK1;Divider1;UserControl_FanControl1;</value>
   </setting>
   <setting name="enableNotifications" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="appSortMethod" serializeAs="String">
    <value>Sort_Method_ProfileName</value>
   </setting>
   <setting name="joystickDeadzone" serializeAs="String">
    <value>1200</value>
   </setting>
   <setting name="fanCurveTemperature" serializeAs="String">
    <value />
   </setting>
   <setting name="fanCurvePackagePower" serializeAs="String">
    <value />
   </setting>
   <setting name="fanAutoModeTemp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="startAutoFan" serializeAs="String">
    <value>False</value>
   </setting>
  </Handheld_Control_Panel.Properties.Settings>
	</userSettings>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"  />
	</runtime>
</configuration>